{
  "control": "",
  "customInfo": "",
  "customPath": "",
  "driver": "",
  "isolationType": "ENABLE",
  "javaRuntime": "",
  "jvmArgs": "",
  "pinned": false,
  "ramAllocation": -1,
  "renderer": "",
  "serverIp": "",
  "skipGameIntegrityCheck": "FOLLOW_GLOBAL",
  "touchVibrateDuration": 100,
  "versionSummary": ""
}